<div class="row">
    <div class="col-10 offset-1">
        <nav class="navbar navbar-expand">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src=" ../assets/img/Dogs-04 1.svg" alt="" height="162" width="139">
                </a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/"><u>Home</u></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/portfolio"><u>Portfolio</u></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about"><u>About</u></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    </div>