body {
  font-family: macha, sans-serif;
  background-color: #1f1e1c;
  color: #eeeeec;
  font-size: 18px;
  font-variation-settings: "wght" 400;
}

h1 {
  color: #eeeeec;
  font-size: 85px;
  font-family: gyst-variable, sans-serif;
  font-variation-settings: "wght" 600;
  word-wrap: break-word;
}

h2 {
  color: #7abec1;
  font-size: 30px;
  font-family: gyst-variable, sans-serif;
  font-variation-settings: "wght" 600;
}

h3 {
  color: #eeeeec;
  font-size: 18px;
  font-family: macha, sans-serif;
  font-variation-settings: "wght" 500;
  text-decoration-line: underline;
  padding-top: 6px;
}

a {
  color: #eeeeec;
}

p {
  padding-top: 6px;
}

.subtitle {
  color: #eeeeec;
  font-size: 45px;
  font-family: gyst-variable, sans-serif;
  font-variation-settings: "wght" 500;
}

.emphasis {
  color: #eeeeec;
  font-size: 20px;
  font-family: macha;
  font-variation-settings: "wght" 500;
}

.feature-blue {
  color: #7abec1;
}

.nav-link {
  color: #eeeeec;
  font-size: 20px;
}

.h2-col {
  min-width: 200px;
  max-width: 200px;
}

.what-i-do-box {
  border-radius: 13px;
  border: 2px solid #353535;
  padding-top: 18px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 16px;
  min-width: 140px;
  max-width: 140px;
  min-height: 140px;
  max-height: 140px;
}

.what-i-do-text-padding {
  padding-top: 24px;
}

.btn-primary {
  font-size: 20px;
  font-variation-settings: "wght" 500;
  color: #1f1e1c;
  background-color: #eeeeec;
  border: none;
}

.btn:hover {
  color: #1f1e1c;
  background-color: #7abec1;
  border: none;
}

.btn:focus-visible {
  outline: 2px solid #eeeeec;
  color: #1f1e1c;
  background-color: #7abec1;
  border: none;
  box-shadow: none;
  outline-offset: 2px;
}

.claire-image {
  max-width: 60%;
  max-height: 100%;
}

.card {
  --bs-card-bg: none;
  --bs-body-color: none;
  --bs-border-color-translucent: none;
  --bs-card-inner-border-radius: none;
}
.portfolio-client {
  color: #eeeeec;
  font-size: 30px;
  font-family: gyst-variable, sans-serif;
  font-variation-settings: "wght" 200;
}
.portfolio-year {
  color: #55919b;
  font-size: 30px;
  font-family: gyst-variable, sans-serif;
  font-variation-settings: "wght" 400;
}
.portfolio-pill {
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #7abec1;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  font-size: 16px;
  font-family: macha, sans-serif;
  font-variation-settings: "wght" 400;
  color: #1f1e1c;
}
