{% include head.html %}

<body class="offset-xl-1 p-5">
  {% include header.html %}

  <div class="row pt-5">
      <div class="row pb-5">
        <h1>About</h1>
      </div>
      <div class="row pt-5">
        <div class="col-12 col-md-1 h2-col">
          <h2 class="text-xl-end">Accessibility</h2>
        </div>
        <div class="col-12 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
          <p>
            With over 8 years of experience working in accessibility, I love
            working with design teams in particular to create inclusive
            experiences. You’ll find me training designers, reviewing design
            systems, doing design reviews, and coaching teams.
          </p>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-12 col-md-1 h2-col">
          <h2 class="text-xl-end">Design</h2>
        </div>
        <div class="col-12 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
          <p>
            In my day-to-day role I am doing a mix of web design and graphic
            design – creating anything from social media graphics to print
            assets for events. I am also part of the organizing team for
            DDDAdelaide where I tackle all design related tasks. In my free time
            I love to work on photography and illustration. I particularly
            enjoying applying my design related skills to crafts and hobbies
            including large scale embroidery projects.
          </p>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-12 col-md-1 h2-col">
          <h2 class="text-xl-end">Contact me</h2>
        </div>
        <div class="col-12 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
          <p>Please reach out for</p>
          <ul>
            <li>Speaking at meetups, events, brown bags or conferences</li>
            <li>Small-scale design projects</li>
            <li>Coaching</li>
            <li>Or to catch up for a coffee!</li>
          </ul>
          <p>
            Email:
            <a href="contact@clairewebber.design"
              >contact@clairewebber.design</a
            >
            <br />
            LinkedIn:
            <a href="www.linkedin.com/in/claire--webber"
              >www.linkedin.com/in/claire--webber</a
            >
          </p>
        </div>
      </div>
  </div>
</body>
{% include footer.html %}
