{% include head.html %}

<body class="offset-1">
  {% include header.html %}

  <div class="row">
    <div class="col-12 col-xl-6">
      <div class="row pb-5">
        <h1>
          Hi, I’m
          <span class="feature-blue"> Claire </span>
        </h1>
        <p class="subtitle">Accessibility Consultant & Designer</p>
        <div class="hstack gap-3 pt-5">
          <a
            href="clairewebberaskdfasd"
            class="btn btn-primary btn-lg p-2"
            role="button"
            aria-pressed="true"
          >
            Get in touch</a
          >
          <a class="p-2" href="LinkedInsomething"
            ><img src="../assets/img/linkedin.svg" alt="LinkedIn"
          /></a>
          <a class="p-2" href="twittersomething"
            ><img src="../assets/img/X.svg"
          /></a>
          <a class="p-2" href="instagramSometing"
            ><img src="../assets/img/instagram.svg"
          /></a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-3">
          <h2>About me</h2>
        </div>
        <div class="col-12 col-xl-9">
          <p>
            I’m a digital accessibility consultant, supporting organisations
            with accessibility and inclusive design. I love to share my passion
            for design and accessibility, setting teams up with the knowledge to
            create inclusive experiences. I am South Australia based but work
            with clients nationally and internationally.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-6">
      <img
        src="../assets/img/Headshot-website.png"
        alt="Claire Webber"
        class="img-fluid object-fit-scale"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12 col-xxl-2">
          <h2>What I do</h2>
        </div>
        <div class="col-5 col-xxl-1 whatIDo">
          <img
            alt=""
            src="../assets/img/desktop-duotone.svg"
            width="40"
            height="40"
          />
          <p class="what-i-do-text-padding">Digital Accessibility</p>
        </div>
        <div class="col-5 col-xxl-1 whatIDo">
          <img
            alt=""
            src="../assets/img/universal-access-duotone.svg"
            width="40"
            height="40"
          />
          <p class="what-i-do-text-padding">Accessible Design</p>
        </div>
        <div class="col-5 col-xxl-1 whatIDo">
          <img
            alt=""
            src="../assets/img/pen-swirl-duotone.svg"
            width="40"
            height="40"
          />
          <p class="what-i-do-text-padding">Illistration</p>
        </div>
        <div class="col-5 col-xxl-1 whatIDo">
          <img
            alt=""
            src="../assets/img/wand-magic-sparkles-duotone.svg"
            width="40"
            height="40"
          />
          <p class="what-i-do-text-padding">Communication Design</p>
        </div>
      </div>
    </div>
  </div>
</body>
{% include footer.html %}
