{% include header.html %}
<div class="row">
    <div class="col-lg-5 offset-lg-1">

        <h1>Hi, I'm <b>Claire</b></h1>
        <p><i>Accessibility Consultant & Designer</i></p>
        <p>Get in Touch Linked in, Twitter, Instagram</p>
        <div class="row">
            <div class="col-lg-3">
                <h2>About me</h2>
            </div>
            <div class="col-lg-8">
                <p>
                    <b>Claire Webber, nice to meet you</b> 👋
                </p>
                <p>
                    I’m a digital accessibility consultant, supporting organisations with accessibility and
                    inclusive
                    design. I
                    love
                    to share my passion for design and accessibility, setting teams up with the knowledge to create
                    inclusive
                    experiences. I am South Australia based but work with clients nationally and internationally.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <h2>What i do</h2>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-3 whatIDo">
                        <p>
                            <img alt="" src="../assets/dist/img/camera-svgrepo-com.svg" width="40" height="40">
                        </p>
                        Digital Accessibility
                    </div>
                    <div class="col-3 whatIDo">
                        <p>
                            <img alt="" src="../assets/dist/img/camera-svgrepo-com.svg" width="40" height="40">
                        </p>
                        Accessible Design
                    </div>
                    <div class="col-3 whatIDo">
                        <p>
                            <img alt="" src="../assets/dist/img/camera-svgrepo-com.svg" width="40" height="40">
                        </p>
                        Illistration
                    </div>
                    <div class="col-3 whatIDo">
                        <p>
                            <img alt="" src="../assets/dist/img/camera-svgrepo-com.svg" width="40" height="40">
                        </p>
                        Communication Design
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <img src="../assets/dist/img/Logo.png" width="788" height="665">
    </div>
</div>