{% include head.html %}

<body class="offset-xl-1 p-5">
  {% include header.html %}
  <div class="row pt-5 pb-5">
    <h1>Portfolio</h1>
  </div>

  <div class="row pt-5">
    <h2>Heading</h2>
  </div>
</div>
<div class="row pt-5">
  <img src="https://via.placeholder.com/1000" alt="placeholder" />

  </div>
  <div class="row pt-5">
    <div class="col">
      <h3>Work title - Long maybe</h3>
    </div>
    <div class="col">
      <p>short caption about the project goes here, as well as lorem ipsum</p>
    </div>
    <div class="col">
      <p class="text-right">2023</p>
  </div>
</body>
{% include footer.html %}
