{% include head.html %}

<body class="offset-xl-1 p-5">
  {% include header.html %}
  <div class="col col-xl-11">
    <div class="row pt-5 pb-5">
      <h1>Portfolio</h1>
    </div>

    <div class="row pt-5 pb-2">
      <div class="col">
        <h2>Heading</h2>
        <img
          src="https://via.placeholder.com/1430x932"
          alt="placeholder"
          class="img-fluid mx-auto d-block"
        />
      </div>
    </div>

    <div class="row pt-5">
      <div class="col">
        <h3>Work title - Long maybe</h3>
      </div>
      <div class="col">
        <p>short caption about the project goes here, as well as lorem ipsum</p>
      </div>
      <div class="col">
        <p class="text-end">2023</p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-xl-2 pt-5">
      <div class="col">
        <div class="row pb-2">
          <img
            src="https://via.placeholder.com/626x408"
            alt="placeholder"
            class="img-fluid mx-auto d-block"
          />
        </div>
        <div class="row">
          <div class="col">
            <h3 class="align-middle">Work title - Long maybe</h3>
          </div>
          <div class="col">
            <p class="text-end align-middle">2023</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row pb-2">
          <img
            src="https://via.placeholder.com/626x408"
            alt="placeholder"
            class="img-fluid mx-auto d-block"
          />
        </div>
        <div class="row">
          <div class="col">
            <h3 class="align-middle">Work title - Long maybe</h3>
          </div>
          <div class="col">
            <p class="text-end align-middle">2023</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-xl-2 pt-5">
      <div class="col">
        <div class="row pb-2">
          <img
            src="https://via.placeholder.com/626x408"
            alt="placeholder"
            class="img-fluid mx-auto d-block"
          />
        </div>
        <div class="row">
          <div class="col">
            <h3 class="align-middle">Work title - Long maybe</h3>
          </div>
          <div class="col">
            <p class="text-end align-middle">2023</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row pb-2">
          <img
            src="https://via.placeholder.com/626x408"
            alt="placeholder"
            class="img-fluid mx-auto d-block"
          />
        </div>
        <div class="row">
          <div class="col">
            <h3 class="align-middle">Work title - Long maybe</h3>
          </div>
          <div class="col">
            <p class="text-end align-middle">2023</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% include footer.html %}
